// .job-listing {
// }

.job-title {
  text-align: left;
  font-family: Metric, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  display: inline-block;

  a {
    color: unset;
    text-decoration: unset;
  }
}

.job-location {
  &:after {
    content: " →";
  }

  color: #191c1d;
  font-family: Metric, sans-serif;
  font-size: 1.2rem;
}
