.nav__dropdown-link {
  // these will be animated in using 'rotateX'
  transform-origin: top;

  .background-color-green & {
    background-color: var(--color-green-light);
  }
  .background-color-purple & {
    background-color: var(--color-purple-light);
  }
  .background-color-red & {
    background-color: var(--color-red-light);
  }

  &:first-child {
    padding-top: 1rem;
  }
  &:last-child {
    padding-bottom: 1.2rem;
  }

  &.w-dropdown-link.w--current {
    color: var(--color-black);
    font-weight: 500;
    pointer-events: none;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.12em;
  }
}

.nav__dropdown-title {
  .yesterday-page &--yesterday,
  .today-page &--today,
  .tomorrow-page &--tomorrow {
    font-weight: 700;
  }
}

// ensures the mobile nav enters form the top of the screen, not from below the navbar
#w-nav-overlay-0 {
  top: 0;
}

.nav__dropdown-icon {
  .yesterday-page &--yesterday,
  .today-page &--today,
  .tomorrow-page &--tomorrow {
    stroke-width: 2px;
  }
}

.nav__dropdown-toggle.w-dropdown-toggle {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  &:focus-visible {
    outline: 2px solid var(--color-black);
  }
}

.nav__dropdown-list.w--open {
  border-top-color: var(--color-black);
  margin-top: 0;
}

.nav__dropdown-link.w-dropdown-link:focus-visible {
  outline: none;
  box-shadow:
    2px 2px 0 var(--color-black) inset,
    -2px -2px 0 var(--color-black) inset;
}

.nav__link {
  text-underline-offset: 0.1em;
  text-decoration-thickness: 2px;
  transition: text-underline-offset 200ms ease-in-out;

  &:hover {
    text-underline-offset: 0.25em;
  }
  &:focus-visible {
    outline: 2px solid var(--color-black);
    outline-offset: 4px;
  }
}
