body,
.page-wrapper {
  overflow-x: hidden;
}

.ticker-tape {
  display: inline-block;
  animation-name: scroll-ticker-tape;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 120s;
}

@keyframes scroll-ticker-tape {
  to {
    transform: translate(-100%, 0);
  }
}

.ticker-tape__link {
  &:focus,
  &:focus .ticker-tape,
  &:focus .ticker-tape__text--static {
    outline: none;
  }
  &:focus-visible .ticker-tape,
  &:focus-visible .ticker-tape__text--static {
    outline-offset: 2px;
    outline: 2px solid var(--color-purple-light);
  }
  &:active {
    background-color: var(--color-black);
  }
}
